@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

:root {
   --orange:#ff7800;
   --black:#130f40;
   --light-color:#666;
   --red:#FF0000;
   --white:#FFFFFF;
   --box-shadow: 0.5rem 1.5rem rgba(0,0,0,.1);
   --border: .2rem solid rgba(0,0,0,.1);
   --outline: .1rem solid rgba(0,0,0,.1);
   --outline-hover:.2rem solid var(--black)
}
* {
   font-family: sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none;
   text-transform: capitalize;
   transition: all .2s linear;
   text-align: center;
}
html {
   font-size: 80%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 7rem;
}
body {
   padding: 0;
   margin: 0;
   overflow: hidden;
}

.nav-centered {
   width: 100%;
   justify-content: center;
}
.header {
  z-index: 20;
  position: relative;
}
.navbar {
   z-index: 1;
}
.navbar-brand {
   font-size: 2rem;
   font-weight: bold;
   color: var(--white);
   border: 1px solid red;
   border-radius: 40px;
   background-color: var(--red);
   width: 13rem;
}

.navbar-nav a {
   font-size: 1.2rem;
   margin: 0 1rem;
   color: black;
}
.navbar-nav a:hover {
   color: var(--red);
}
.header .fa-solid {
   height: 4rem;
   width: 4rem;
   line-height: 4rem;
   border-radius: 5px;
   background: #eee;
   color: var(--black);
   font-size: 1.2rem;
   margin-right: .3rem;
   cursor: pointer;
   text-align: center;
}
.header a {
   text-decoration: none;
}
.header .fa-solid:hover {
   background: var(--red);
   color: #eee;
}
.header .search-form {
   position: absolute;
   top: 110%;
   right: -110%;
   width: 15rem;
   max-width: 50rem;
   height: 3rem;
   color: #eee;
   border-radius: 5px;
   overflow: hidden;
   display: flex;
   align-items: center;
}
.header .search-form.active {
   right: 2rem;
   transition: .4s linear;
}
.header .search-form input {
   height: 100%;
   width: 100%;
   background: none;
   text-transform: none;
   font-size: 1rem;
   color: var(--black);
   padding: 0 1.5rem;
}
.header .search-form label {
   font-size: 1rem;
   color:var(--black);
   cursor: pointer;
}
.header .search-form label:hover {
   color:var(--black);
}
.header .shopping-cart {
   position: absolute;
   top: 110%;
   right: -110%;
   padding: 1rem;
   border-radius: 1rem;
   width: 25rem;
   background: #eee;
}
.header .shopping-cart.active {
   right: 2rem;
   transition: .4s linear;
}
.header .shopping-cart .box {
   display: flex;
   align-items: center;
   gap: 1rem;
   position: relative;
   margin: 1rem 0;
}
.header .shopping-cart .box img {
   height: 6rem;
}
.header .shopping-cart .box .fa-trash {
   position: absolute;
   font-size: 2rem;
   top: 50%;
   right: 2rem;
   cursor: pointer;
   color: var(--light-color);
   transform: translate(-50%);
}
.header .shopping-cart .box .content h3 {
   color: var(--black);
   font-size: 14px;
   padding-bottom: 1rem;
}
.header .shopping-cart .box .content span {
   font-size: 1.4rem;
}
.header .login-form {
   position: absolute;
   top: 110%;
   right: -110%;
   width: 25rem;
   padding: 2rem;
   border-radius: .5rem;
   text-align: center;
   background: #eee;
}
.header .login-form.active {
   right: 2rem;
   transition: .4s linear;
   }
.header .login-form h3 {
   font-size: 1rem;
   text-transform: uppercase;
   color: var(--black);
}
.header .login-form .box {
   width: 100%;
   margin: .5rem 0;
   border-radius: .5rem;
   padding: 1rem;
   font-size: 1rem;
   color:var(--black);
   text-transform: none;
}
.header .login-form p {
   font-size: 1rem;
   padding: .3rem;
   color: var(--light-color);
}
.header .login-form p a {
   color:var(--orange);
   text-decoration: underline;
}
.links-info-top {
   height: 14vh;
   background-color: var(--red);
   display: flex;
   justify-content: baseline;
   align-items: center;
}
.links-info-stock a {
   text-decoration: none;
   color: var(--red);
   font-size: 2rem;
   text-transform: lowercase;
   border: 1px solid var(--white);
   border-radius: 30px;
   width: 30rem;
   height: 3rem;
   background-color: var(--white);
   padding: 5px 30px 5px 30px;
}
.links-info-delivery-payment a {
   text-decoration: none;
   font-size: 16px;
   text-transform: none;
   color: var(--white);
}
.links-info-reviews a {
   text-decoration: none;
   font-size: 16px;
   text-transform: none;
   color: var(--white);
}
.links-info-telephone a {
   text-decoration: none;
   font-size: 20px;
   text-transform: none;
   color: var(--white);
   font-weight: bold;
}
.links-info-telephone p {
   color: var(--white);
}
.links-info-personal-area .fa-solid {
   height: 4rem;
   width: 4rem;
   line-height: 4rem;
   border-radius: 5px;
   background: #eee;
   color: var(--black);
   font-size: 1.2rem;
   margin-right: .3rem;
   cursor: pointer;
   text-align: center;
}
.links-info-personal-area .fa-solid:hover {
   background: var(--white);
   color: #000;
}
.links-menu-nabory a {
   text-decoration: none;
   color: var(--black);
   font-weight: 700;
}
.owl-item {
   height: 29rem;
   border: 1px solid none;
   border-radius: 15px;
   font-size: 4rem;
   
}
.owl-item img {
   width: 100%;
   border: 1px solid none;
   border-radius: 15px;
}
.owl-carousel a {
   text-align: center;
   position: relative;
   cursor: pointer;
   color: white;
   text-decoration: none;
   
 }
 
 .card-content-top {
   display: flex;
   align-items: center;
   justify-content: space-around;
 }
 .card-content-bottom {
   display: flex;
   align-items: center;
   justify-content: space-around;
 }
 .card-content-bottom span {
   font-size: 15px;
   font-weight: 700;
 }
 .btn-content-top {
   background-color: #87CEFA;
 }
 
 .btn-content-top:hover {
   background-color: #00FF00;
   color: #ffffff;
 }
 .btn-content-bottom {
   background-color: #87CEFA;
 }
 .btn-content-bottom:hover {
   background-color: #B22222;
   color: #FFFFFF;
 }
 .modal-body ul {
   list-style-type: none;
 }
 a {
   text-decoration: none;
 }
.card-appetite {
   background-color: #666;
   border: 1px solid none;
   border-radius: 10px;
   height: 13rem;
   color: #ffffff;
}
.card-delivery-appetite {
   border: 1px solid none;
   border-radius: 10px;
   height: 13rem;
}
.food-delivery-heading h1 {
   text-transform: none;
}
.food-delivery-content p {
    text-transform: none;
}
.delivery-content-left li {
   text-transform: none;
}
.delivery-text-bottom  {
   text-transform: none;
}
.delivery-food-office-home p {
   text-transform: none;
}
.delivery-food-links a {
   width: 20rem;
}
.delivery-food-links a:hover {
  background-color: #B0E0E6;
  border-color: #B0E0E6;
  color: #0000CD;
}
.delivery-food-text p{
   text-transform: none;
}
.footer {
   background-color: #ff0000;
}
.footer li {
   list-style-type: none;
   color: #fff;
}
.footer a {
   text-decoration: none;
   color: #fff;
}
.footer-left img { 
   height: 5rem;
}
.footer-mobile {
   font-size: 22px;
}
.footer-center a {
   font-size: 20px;
}
.footer-right a {
   font-size: 20px;
}
.footer li a {
   text-transform: none;
}
.footer li a:hover {
   text-decoration: underline;
   color: #000;
}